.home-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .home-header {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .search-form {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .search-input {
    flex: 1;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
  }
  
  .search-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
  }
  
  .error-message {
    color: red;
  }
  
  .materias-list {
    list-style-type: none;
    padding: 0;
  }
  
  .materia-item {
    margin-bottom: 20px;
    padding: 10px;
    background-color: #151313;
    border-radius: 5px;
  }
  
  .materia-name {
    font-weight: bold;
  }
  
  .materia-date {
    font-style: italic;
    color: #777;
  }
  
  .materia-status {
    color: green;
    font-weight: bold;
  }
  
  .button-container {
    text-align: right;
  }
  
  .button-container button {
    background-color: #dc3545;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  .button-container button:hover {
    background-color: #c82333;
  }
  
