.admin-panel-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.admin-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.admin-panel-header {
  font-size: 24px;
}

.nav-buttons {
  display: flex;
}

.nav-buttons button {
  padding: 10px 20px;
  background-color: #28a745;
  color: #100f0f;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px;
}

.nav-buttons button:hover {
  background-color: #218838;
}

.search-container {
  margin-bottom: 20px;
}

.search-container input[type="text"] {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #121111;
  border-radius: 5px;
}

.search-container button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: #757171;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.search-container button:hover {
  background-color: #0056b3;
}

.error-message {
  color: red;
}

.user-list {
  list-style-type: none;
  padding: 0;
}

.user-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #837d7d;
  border-radius: 5px;
  margin-bottom: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.delete-button {
  padding: 8px 15px;
  background-color: #dc3545;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.delete-button:hover {
  background-color: #c82333;
}

.link-button {
  text-decoration: none;
}

.link-button button {
  padding: 10px 20px;
  background-color: #28a745;
  color: #100f0f;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.link-button button:hover {
  background-color: #218838;
}
